# Application Under Test (AUT) and API URLs, along with test user credentials and default country settings.
BASE_URL=
API_URL=
TEST_USER_USERNAME=
TEST_USER_PASSWORD=
DEFAULT_COUNTRY=

# POSTMAN credentials
POSTMAN_USERNAME=
POSTMAN_PASSWORD=